uploads/*.jpg
uploads/badges/*.jpg
uploads/gifs/*.gif
uploads/pics/orig/*.jpg
uploads/pics/w80/*.jpg
uploads/pics/w320/*.jpg
uploads/pics/w640/*.jpg
uploads/pics/w1024/*.jpg
uploads/pics/w1920/*.jpg
uploads/prints/*.jpg
uploads/reader/logs/*.csv
uploads/sheets/*.jpg
uploads/stickers/*.jpg
uploads/tmp/*.*
logs/*.txt
docs/Labels/*.docx
docs/Labels/TPMSPerforatedPaper_30.doc/*.docx
docs/Labels/TPMSPerforatedPaper_30-doc/*.docx
.hg
.hgignore
